@model AWork.Contracts.Dto.Production.ProductPhotoDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductPhoto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductPhotoId" />
            @*<div class="form-group">
                <label asp-for="ProductPhotoId" class="control-label"></label>
                <input asp-for="ProductPhotoId" class="form-control" />
                <span asp-validation-for="ProductPhotoId" class="text-danger"></span>
            </div>*@
            <div class="form-group">

                <label asp-for="ThumbnailPhotoFileName" class="control-label"></label>
                <input asp-for="ThumbnailPhotoFileName" class="form-control"/>
                <span asp-validation-for="ThumbnailPhotoFileName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="LargePhoto" class="control-label"></label>
                <input asp-for="LargePhoto" class="form-control" />
                <span asp-validation-for="LargePhoto" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="LargePhotoFileName" class="control-label"></label>
                <input asp-for="LargePhotoFileName" class="form-control" />
                <span asp-validation-for="LargePhotoFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
