@model AWork.Domain.Models.ProductSubcategory

@{
    ViewData["Title"] = "Create";
}

<h1>Category Product</h1>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>

<body>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProductCategoryId" class="control-label"></label>
            <select asp-for="ProductCategoryId" class="form-control" asp-items="ViewBag.ProductCategoryId"></select>
        </div>



        <table id="myTable" class="table" data-toggle="table" data-mobile-responsive="true" data-pagination="true" data-height="460" s>


            <tbody>
                <tr>

                    <td>
                        <label asp-for="Name" class="control-label">SubCategory Name</label>
                        <input id="ex2" type="text" asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="document.getElementById('ex2').value = ''">Clear</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-success" id="addrow" class="addnew"> Add </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>

    <!-- Unrelated: version incompatibility
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    -->

    <script>
        $(document).ready(function() {
        //Try to get tbody first with jquery children. works faster!

        var tbody = $('#myTable').children('tbody');

        //Then if no tbody just select your table
        var table = tbody.length ? tbody : $('#myTable');

        $('#addrow').click(function() {
        //Add row

        table.append('<tr><td><label asp-for="Name" class="control-label"></label><input id="ex2" type="text" asp-for="Name" class="form-control"><span asp-validation-for="Name" class="text-danger"></span></td>  <td >  <button   class="btnDelete btn-outline-success"   id="delrow"  >Delete</button>  </td>  </tr>  ');
        })

        $("#myTable").on('click', '.btnDelete', function() {
        $(this).closest('tr').remove();
        });

        });
    </script>


</body>

