@model AWork.Contracts.Dto.Sales.SalesOrderHeader.SalesOrderHeaderDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SalesOrderHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalesOrderId" />
            <div class="form-group">
                <label asp-for="RevisionNumber" class="control-label"></label>
                <input asp-for="RevisionNumber" class="form-control" />
                <span asp-validation-for="RevisionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipDate" class="control-label"></label>
                <input asp-for="ShipDate" class="form-control" />
                <span asp-validation-for="ShipDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnlineOrderFlag" class="control-label"></label>
                <input asp-for="OnlineOrderFlag" class="form-control" />
                <span asp-validation-for="OnlineOrderFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrderNumber" class="control-label"></label>
                <input asp-for="PurchaseOrderNumber" class="form-control" />
                <span asp-validation-for="PurchaseOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesPersonId" class="control-label"></label>
                <select asp-for="SalesPersonId" class="form-control" asp-items="ViewBag.SalesPersonId"></select>
                <span asp-validation-for="SalesPersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerritoryId" class="control-label"></label>
                <select asp-for="TerritoryId" class="form-control" asp-items="ViewBag.TerritoryId"></select>
                <span asp-validation-for="TerritoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillToAddressId" class="control-label"></label>
                <select asp-for="BillToAddressId" class="form-control" asp-items="ViewBag.BillToAddressId"></select>
                <span asp-validation-for="BillToAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToAddressId" class="control-label"></label>
                <select asp-for="ShipToAddressId" class="form-control" asp-items="ViewBag.ShipToAddressId"></select>
                <span asp-validation-for="ShipToAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipMethodId" class="control-label"></label>
                <select asp-for="ShipMethodId" class="form-control" asp-items="ViewBag.ShipMethodId"></select>
                <span asp-validation-for="ShipMethodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardId" class="control-label"></label>
                <select asp-for="CreditCardId" class="form-control" asp-items="ViewBag.CreditCardId"></select>
                <span asp-validation-for="CreditCardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardApprovalCode" class="control-label"></label>
                <input asp-for="CreditCardApprovalCode" class="form-control" />
                <span asp-validation-for="CreditCardApprovalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyRateId" class="control-label"></label>
                <select asp-for="CurrencyRateId" class="form-control" asp-items="ViewBag.CurrencyRateId"></select>
                <span asp-validation-for="CurrencyRateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxAmt" class="control-label"></label>
                <input asp-for="TaxAmt" class="form-control" />
                <span asp-validation-for="TaxAmt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Freight" class="control-label"></label>
                <input asp-for="Freight" class="form-control" />
                <span asp-validation-for="Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rowguid" class="control-label"></label>
                <input asp-for="Rowguid" class="form-control" />
                <span asp-validation-for="Rowguid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
